body {
    background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    font-weight: 300px;
    color: white;
    margin: 3px;
    text-align: center;
}

.container {
    margin: 100px auto;
    width: 300px;
    color: white;
    border: 2px solid white;
    padding: 0 10px;
}

.add {
    opacity: .8;
    border: none;
    padding: 5px;
    box-sizing: 100%;
}

ul {
    list-style: none;
}

span {
    
}